@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

body {
    font-family: 'Inter', sans-serif;
    background: #000;
}
@media(min-width: 1440px) {
   body {
    background: linear-gradient(100deg, rgba(37,18,21,1) 2%, rgba(14,16,20,1) 50%, rgba(14,16,20,1) 100%);
   }
}